<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-segment color="tertiary" value="misdatos" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="misdatos">
        <ion-icon name="person-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="experiencia-laboral">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>